name: Publish extension

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  publish-extension:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v6
      - id: Lint
        run: shellcheck bin/*
      - id: setup-pack
        uses: buildpacks/github-actions/setup-pack@v5.10.0
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: publish-extension
        run: |
          pack extension package ghcr.io/simonerm/fontconfig-cnb-extension:next \
          --path ./ \
          --format image \
          --publish
